<div *ngIf="isShow">
    <mat-nav-list dense>
        <mat-list-item *ngFor="let subMenuItem of subMenuList" routerLink="/home/docs/{{subMenuItem.number}}" (click)="close()">
            <mat-icon mat-list-icon color="primary">note</mat-icon>
            <a mat-line>{{subMenuItem.title}}</a>
            <mat-icon class="delete-btn" color="accent"
                (click)="openDeleteBlogDialog('/docs/' + dirLabel + '/' + subMenuItem.title, subMenuItem.number, subMenuItem.title)">remove_circle
            </mat-icon>
        </mat-list-item>
    </mat-nav-list>
</div>
