<mat-card>
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="headerImageStyle"></div>
        <mat-card-title>
            <h3>{{title}}</h3>
            <mat-icon color="accent" (click)="openCloseIssueDialog()">delete</mat-icon>
            <mat-icon color="accent" routerLink="/issue/{{oneArticle.number}}">edit</mat-icon>
        </mat-card-title>
        <mat-card-subtitle>{{createAt | date:"yyyy-MM-dd" }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <markdown class="markdown-section body-content" [data]="body"></markdown>
    </mat-card-content>
</mat-card>