mat-sidenav-container {
    top: 56px;
    height: calc(100vh - 56px);
  }
  
  mat-sidenav {
    min-width: 20vw;
    box-shadow: 6px 0 6px rgba(0,0,0,.1);
  }
  
  mat-toolbar {
    position: fixed;
    height: 56px;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  }
  
  .dirIcon {
    margin-right: 1em;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .github {
    height: 20px;
    margin-left: 1em;
  }
  
  .github-logo {
    display: block;
  }
  
  .light-btn {
    position: fixed;
    right: 3vw;
    top: 5em;
    z-index: 5;
  }
  